{% extends "base.html"%}
{% load static  %}
{%block content%}

<div class="maincontent" style="width: 50%; min-height: 1050px; font-size: 20px !important;">
    
    <p><img src="/static/images/icongold.png" alt="quinslogo" style="height: auto; width: 200px;" id="qlogo1"> <span>uinn Corporate Chambers</span> is a corporate law firm established in Dar Es Salaam, Tanzania. The firm is distinguished by the depth and scope
        of
        its legal advisory services and an unmatched understanding of business environment, socio-economic and political
        culture in the country. The firm’s lawyers are committed and experienced in multi-disciplinary issues oflaw.We
        offer a full range of corporate and commercial legal services, including but not limited to,dispute resolution,
        litigation,arbitration, employment,finance,company restructuring,real estate,tax,trusts and estate.The Firm has
        been committed to the complementary goals of being both aggressive and cost-effective in pursuit of our clients’
        interests. Because every client has individualized goals and resources, we devise and execute individualized
        strategies to protect the client’s rights and promote the client’s objectives.</p>

    <h5 class="mt-4">
        <span>1.</span>
        FOCUS AND APPROACH</h5>
    <p>As a corporate and commercial law firm,we focus strongly on the needs of our clients and their respective
        businesses. The
        practice is built on its reputation of exceptional service delivery coupled with appropriate and
        outstandings kills and expertise.We believe in following a holistic approach to ensure that our clients receive
        best advice at all times.</p>
    <h5 class="mt-4">
        <span>2.</span> VISION & MISSION
    </h5>
    <h6>VISION</h6>
    <p>Our vision is to provide our clients with skilled legal advice and services in a timely and efficient manner. We
        strive to handle each matter with accountability and responsiveness, as if we were representing ourselves. We
        focus our attention on the legal aspects of our client’s business so that our clients can focus their attention
        on the success of their business</p>
    <h6>MISSION</h6>
    <P>Our mission is to provide professional and trusted legal services that assist businesses and non-profit
        organizations in operating sustainably. We provide expert legal counsel in combination with our own business
        backgrounds, and deliver valuable services in a timely and cost-effective way</P>
</div>

{%endblock%}