{% extends "base.html"%}
{% load static  %}
{% block content%}

<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.111061210275!2d39.245042314772014!3d-6.756308995116071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4df3994a0c3f%3A0x876e23c15ebc00f2!2sQUINN%20CORPORATE%20CHAMBERS!5e0!3m2!1sen!2stz!4v1582996362691!5m2!1sen!2stz" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>

<section id="contact" class="my-4">
  <h2>We are based in Dar es Salaam, TANZANIA </h2>
  <p>Send us an email, we would love to hear from you.</p>
  <div class="row mt-5 mb-4">
    
      <div class="col">
        <span class="fa fa-map fa-3x p-2"></span>
       
          <h5>Plot No. 672/2</h5>
          <h5>Mwai Kibaki Road,</h5>
          <h5>Mikocheni.</h5>
      </div>
      <div class="col">
        <span class="fa fa-phone fa-3x p-2 "></span>
        <h5>Tel: +255 785 300 954|+255 652 666 888 |+255 628 992 824</h5>
        <h5>Email: info@qcc.co.tz</h5>
        <h5><a href="https://www.instagram.com/quinn.corporate.chambers/" target="_blank" rel="noopener noreferrer"><span class="fa fa-instagram fa-2x p-2"></span></a> |<a href="https://www.linkedin.com/in/quinn-corporate-chambers-3b15201a2/" target="_blank" rel="noopener noreferrer"><span class="fa fa-linkedin fa-2x p-2"></span></a>|<span class="fa fa-twitter fa-2x p-2"></span></h5>
      </div>
      <div class="col">
        <span class="fa fa-clock fa-3x p-2"></span>
        <h5>WEEK DAYS: 08:00 – 17:00</h5>
        <h5>SATURDAY: 09:00 – 14:00</h5>
        <h5> SUNDAY: CLOSED</h5>
      </div>
  </div>
</section>

<section id="forms">
    <h6 style="text-align: center; font-size: 20px; padding-top: 20px;">Fill out the form below to recieve a free and confidential intial consultation</h6>
            <form method="POST"> {% csrf_token %}
                {{form}}

                <input type="submit" value="Submit">
            </form>
      
</section>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap">
</script>
{%endblock%}