{% extends "base.html"%}
{% load static  %}
{% block content%}
<script>
   $(document).ready(function () {
      $(".col").fadeIn()
   });
</script>
<div class="maincontent mt-0" style="width: 60%;">
   <div style="width: 100%; height: 100px; padding-top: 30px; background-color: #d49f51;">
      <h6 style="margin-top: 0; text-align: center; font-size: 30px;">PRACTICE AREAS</h6>
      <p style="margin-top: 0; text-align: center; ">--all that we offer--</p>
   </div>


   <div class="d-flex flex-column pt-3">
      <div class="col">
         <h5>CORPORATE & COMMERCIAL LAW</h5>
      </div>
      <div class="col">

         <p id="field"> We advise on all matters of Corporate Law in Tanzania. We cater for all legal services from
            incorporation of the corporate entity to the dissolution of such entity. We also provide corporate
            secretarial services and corporate statutory compliance services,to ensure that our client do comply with
            the legal regime and good governance to the corporate boards.
         </p>
      </div>

      <hr style="background-color:#c08f49">
   </div>
   <div class="d-flex flex-column">
      <div class="col">
         <h5>BANKING & FINANCE LAW </h5>
      </div>
      <div class="col">

         <p id="field">
            We provide our clients with well-informed legal advice on matters of finance ranging from banking matters,
            insurance and capital markets. We advise clients on legal matters relating to their dealings with banking
            and financial institutions, insurance companies and representations in the Dar es Salaam Stock of Exchange.
         </p>
      </div>


   </div>
   <hr style="background-color:#c08f49">
   <div class="d-flex flex-column">
      <div class="col">
         <h5>CONVEYANCING AND REAL ESTATE</h5>
      </div>
      <div class="col">

         <p id="field">The firm advises clients when buyingand selling commercial, industrial or residential property or
            in matters involving owners’corporations.When dealing with property matters,our expertise in conveyancing,
            finance and refinancing, subdivisions, leasing and planning laws will serve to protect all
            client’sinterests.
         </p>
      </div>


   </div>
   <hr style="background-color:#c08f49">
   <div class="d-flex flex-column">
      <div class="col">
         <h5>LABOUR AND EMPLOYMENT</h5>
      </div>
      <div class="col">

         <p id="field">Our firmregularly advise business enterprises, boards and company management teams on all aspects
            of Employment Contracts andStaff Policy Handbooks, Labour Relations and Trade Unions, Employee Transfer, And
            Issues of Recruitment, Retention and Termination, Retrenchment, Dismissal and Redundancy, Immigration andWork
            Permits.
         </p>
      </div>


   </div>
   <hr style="background-color:#c08f49">
   <div class="d-flex flex-column">
      <div class="col">
         <h5> TAX LAW</h5>
      </div>
      <div class="col">

         <p id="field"> We provide businesses and individuals with sophisticated and comprehensive tax advice in the
            areas of corporate tax, individual tax, withholding tax, VAT, and all other indirect taxes. We advise
            clients on a wide range of tax issues including Business Transactional Planning and Structuring, Real Estate,
            Finance and Compensation Planning.
         </p>
      </div>


   </div>
   <hr style="background-color:#c08f49">
   <div class="d-flex flex-column">
      <div class="col">
         <h5>INVESTMENTS</h5>
      </div>
      <div class="col">

         <p id="field">The Firm has a clear understanding of the investment climate in Tanzania as well as an extensive
            commercial law practice related to local and international business transactions. We also coverall aspects
            of investment in the country ranging from drafting contracts and agreements to infrastructure, taxation, and
            stock exchange.</p>
      </div>


   </div>
   <hr style="background-color:#c08f49">
   <div class="d-flex flex-column">
      <div class="col">
         <h5>ENTERTAINMENT LAW</h5>
      </div>
      <div class="col">

         <p id="field">Entertainment law is the sum total of several different types of law that are relevant to the
            entertainment industry including transactional law and litigation.That is why we make sure that our clients
            are well informed of their rights as well as obligations needed to be fulfilled under entertainment law.</p>
      </div>


   </div>
   <hr style="background-color:#c08f49">
   <div class="d-flex flex-column">
      <div class="col">
         <h5>OTHER AREAS OF EXPERTISE</h5>
      </div>
      <div class="col">

         <p id="field">Over and above the above-mentionedareas of expertise the firm also boasts its expertise in the
            following streams, Litigation, Competition Law, Consumer Law, Intellectual Property Law, Family Law, Capital
            Market Law, Wildlife Law and Human Rights Law.</p>
      </div>


   </div>
</div>
{%endblock%}