{% extends "base.html"%}
{% load static  %}
{%block content%}
<div class="container1">
    <div style="width: 100%; opacity: 0.5; background-color: black;">

    </div>

</div>
<div id="container">
    <h5 id="welcome" style="text-align: center;font-size: 30px; color: white; padding: 20px;">WELCOME, MEET US & WE CAN
        HELP YOU</h5>
    <div class="d-flex flex-row" style="width: 100%; margin-bottom: 30px;">

        <div class="d-flex flex-column" style="width: 50%;">
            <h1 id="quin" style="float: right; color:#BA9537; font-size: 30px !important;">Quinn Corporate Chambers</h1>
            <p style=" color:#BA9537;" id="neno">
                is a corporate law firm established in Dar Es Salaam, Tanzania. The firm is distinguished by the depth
                and
                scope of its legal advisory services and an unmatched understanding of business environment,
                socio-economic and political culture in the country. </p>
        </div>
        <div class="d-flex flex-column" style="width: 50%;">
            <img src="/static/images/mainlogo.png" alt="quinslogo" style="height: auto; width: 250px;" id="qlogo">

        </div>
    </div>
    <h5 id="note" style="text-align: center;font-size:30px;">welcome, let us serve you</h5>
    <a href="{%url 'about'%}" class="button"  id="more">More..</a>

</div>





<div class="clearfix"></div>


<div class="maincontent shadow-lg px-sm-0 px-md-3">
    <div class="d-flex flex-row" style="width: 100%;" id="home">
        <div data-aos="slide-right" class="d-flex flex-column">
            <span class="fa fa-briefcase fa-3x"></span>
            <h5>CORPORATE & COMMERCIAL LAW</h5>
            <p>Corporate and Commercial Law are at the heart of the firm.We advise on all matters of Corporate Law in
                Tanzania. We cater for all legal services from incorporation of the corporate entity to the dissolution
                of such entity. </p>
        </div>
        <div data-aos="zoom-in" class="d-flex flex-column">
            <span class="fa fa-bank fa-3x"></span>
            <h5>BANKING& FINANCELAW</h5>
            <p>We provide our clients with well-informed legal advice on matters of finance ranging from banking
                matters, insurance and capital markets. We advise clients on legal matters relating to their dealings
                with banking and financial institutions, insurance companies and representations in theDar es Salaam
                Stock of Exchange.</p>
            <h4><a style="color: #323d46; text-decoration: none; text-emphasis:initial; font-weight: bolder;"
                    href="{%url 'practicearea'%}">Read more...</a></h4>
        </div>
        <div data-aos="zoom-in" class="d-flex flex-column">
            <span class="fa fa-legal fa-3x"></span>
            <h5>CONVEYANCING AND REAL ESTATELAW</h5>
            <p>The firm advisesclientswhen buyingand sellingcommercial, industrial or residential property or in matters
                involving owners’corporations.When dealing with property matters,our expertise in conveyancing, finance
                and refinancing, subdivisions, leasing and planning laws will serve to protect all client’sinterests.
            </p>

        </div>

    </div>
    <div class="d-flex flex-row" style="width: 80%;">
        <div style="width: 30%; height: 700px; background-color:#323d46; overflow-x: hidden;">
            <img src="/static/images/dsm.jpg" alt="Cinque Terre"  style=" width: 450px; height: 350px; object-fit: cover;">
            <img src="/static/images/posta.jpg" alt="Cinque Terre"  style=" width: 450px; height: 350px; object-fit: cover;">
        </div>
       
        <div data-aos="zoom-in" class="d-flex flex-column p-3" style="width: 60%;">
            <h5>– About us</h5>
            <p><span style="color:#BA9537;">Quinn Corporate Chambers</span>
                is a corporate law firm established in Dar Es Salaam, Tanzania. The firm is distinguished by the depth
                and
                scope of its legal advisory services and an unmatched understanding of business environment,
                socio-economic and political culture in the country.</p>
            <h5>--Vision</h5>
            <p>Our vision is to provide our clients with skilled legal advice and services in a timely and efficient
                manner. We strive to handle each matter with accountability and responsiveness, as if we were
                representing ourselves. We focus our attention on the legal aspects of our client’s business so that our
                clients can focus their attention on the success of their business.</p>
            <h5> --Mission</h5>
            <p>
                Our mission is to provide professional and trusted legal services that assist businesses and non-profit
                organizations in operating sustainably. We provide expert legal counsel in combination with our own
                business backgrounds, and deliver valuable services in a timely and cost-effective way.</p>
        </div>
    </div>

    <hr>
</div>
<div data-aos="fade-in" data-aos-delay="600" data-aos-duration="1000" class="maincontent1  " id="team">
    <h1 class=" mb-2" style="text-align: center;">MEET OUR TEAM</h1>
    <div style="margin-left: 200px;">
        <div class="responsive">
            <div class="gallery">

                <img src="/static/images/anna1-min.jpg" alt="Cinque Terre" width="600" height="400" style=" transform: scaleX(-1);">

                <div class="desc">
                    <div class="d-flex flex-column bd-highlight justify-content-start ">
                        <div class="bd-highlight">Annamary Ishengoma </div>
                        <div class=" bd-highlight"> Founding Partner</div>

                    </div>
                </div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">

                <img src="/static/images/herman-min.jpg" alt="Forest" width="600" height="400">

                <div class="desc">
                    <div class="d-flex flex-column bd-highlight justify-content-start ">
                        <div class="bd-highlight">Herman Peter Gervas</div>
                        <div class=" bd-highlight"> Managing Partner</div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">

                <img src="/static/images/vyone-min.JPG" alt="Herman petero" width="600" height="400">

                <div class="desc">
                    <div class="bd-highlight">Yvone John Massai</div>
                    <div class=" bd-highlight"> Founding Partner</div>

                </div>
            </div>
        </div>
        

    </div>
    <div class="clearfix"></div>
    <div style="margin: 20px;" >
        <p style="text-align: center;">
            <a style="color: #323d46; text-decoration: none; text-emphasis:initial; font-weight: bolder; font-size: 25px;"
                href="{%url 'the_team'%}">Read more...</a></p>
    </div>
</div>



{%endblock%}