{% extends "base.html"%}
{% load static  %}
{% block content%}
 <div class="maincontent1">
     <h2>The Team</h2>
     <ul>
         <li><a href="">herman</a></li>
         <li><a href="">Vyone</a></li>
         <li><a href="">anna</a></li>
     </ul>
     <div class="row mb-4 mt-2 mx-auto h-100" >
         <div class="col-4 my-auto">
             <p>
                She holds an honors degree in law with a postgraduate diploma in law with specialization in banking law, capital market and securities, international trade and finance law, investment laws, tax laws, intellectual property law, criminology, mining law, immigration law, labour law and penology law, human rights law, insurance law, international humanitarian laws and various legal aspects including but not limited to research and drafting. 
                She is an Advocate of the High Court of Tanzania and Courts Subordinate thereto save for the Primary Courts.
                She specializes in Civil and Criminal litigation. He also advises clients on a wide range of areas including general Corporate Law, Labour and Employment law, Debt Recovery, Contract law, and Commercial law. 
                
             </p>
         </div>
         <div class="col-8">
            <div class="responsive1">
                <div class="gallery">

                    <img src="/static/images/anna.jpg" alt="Cinque Terre" width="800" height="600">

                    <!-- <div class="desc"> </div> -->
                </div>
            </div>
         </div>
     </div>
     <div class="row mb-4 mt-2 mx-auto h-100" >
       
        <div class="col-6">
           <div class="responsive1">
               <div class="gallery">

                   <img src="/static/images/vyone.JPG" alt="Cinque Terre" width="800" height="600">

                   <!-- <div class="desc"> </div> -->
               </div>
           </div>
        </div>
        <div class="col-4 my-auto">
            <p>
               She holds an honors degree in law with a postgraduate diploma in law with specialization in banking law, capital market and securities, international trade and finance law, investment laws, tax laws, intellectual property law, criminology, mining law, immigration law, labour law and penology law, human rights law, insurance law, international humanitarian laws and various legal aspects including but not limited to research and drafting. 
               She is an Advocate of the High Court of Tanzania and Courts Subordinate thereto save for the Primary Courts.
               She specializes in Civil and Criminal litigation. He also advises clients on a wide range of areas including general Corporate Law, Labour and Employment law, Debt Recovery, Contract law, and Commercial law. 
               
            </p>
        </div>
    </div>
 </div>
{%endblock%}