{% extends "base.html"%}
{% load static  %}
{% block content%}
<div class="maincontent mt-0">
    <h2>Our Team</h2>
    <ul style="position: fixed; width: 150px; height: 300px; right: 0; top:40%;  text-align: end;  padding-left: 10px; float: left;">
        <li style="float: left;"><a href="#herman">Herman</a></li>
        <li style="float: left;"><a href="#vyone">Yvonne</a></li>
        <li style="float: left;"><a href="#anna"> Annamary</a></li>
        <li style="float: left;"><a href="#john">Johnlars</a></li>
    </ul>
    <div data-aos="zoom-in" class="d-flex flex-row bd-highlight mb-3" id="herman">

        <div class="p-2 my-auto mr-4" style="width:40%; color: white;">
            <h1 style="text-align: start;">Herman Peter Gervas</h1>
            <p>
                He holds LL. Bhonorsdegree from The University of Dar Es Salaamwith a postgraduate diploma in law from
                the Law School of Tanzania.He specializes in Corporate Laws, Conveyancing and Real EstateandBanking
                Laws. He has acted for vendors and purchasers on the acquisition and disposal of shares and assets,
                including undertaking detailed due diligence investigations and drafting and negotiating share purchase
                agreements as well as asset sale agreements. He is an advocate of the High Court of Tanzania. He is a
                member of a number of professional bodies, including the Tanganyika Law Society and East African Law
                Society.


            </p>
            <h5>Tel: +255 785 300 954 |+255 719 300 954</h5>
        
              <h5>Email:<a href="mailto:hermangervas@qcc.co.tz">hermangervas@qcc.co.tz</a></h5>
            
        </div>
        <div class="p-4" style="width: 60%;">
            <div class="responsive1 pl-sm- 0 pl-md-5">
                <div class="gallery ">

                    <img src="/static/images/herman-min.jpg" alt="Cinque Terre" width="600" height="400"
                        style=" background-color: black;">


                </div>
            </div>
        </div>

    </div>
    <div data-aos="zoom-in" class="d-flex flex-row bd-highlight mb-3" id="anna">

        <div class="p-2 my-auto mr-4" style="width:40%; color: white;">
            <h1 class="text-start">Annamary Ishengoma Bilikwija</h1>
            <p>
                She holds anhonors degree in law from the University of Dar Es Salaam with a postgraduate diploma in law
                from the Law School of Tanzania. She specializes in Mortgage Laws, Banking Laws and Conveyancing.She
                also advises clients on a wide range of areas including general Corporate Law, Labour and Employment
                law, Debt Recovery, Contract law, Mortgage Lawand Commercial law. She is an Advocate of the High Court of
                Tanzania and Courts Subordinate thereto save for the Primary Courts.


            </p>
            <h5>Tel: +255 628 992 824|+255 753 822 733</h5>
        
              <h5> Email: <a href="mailto:annamaryishengoma@qcc.co.tz">annamaryishengoma@qcc.co.tz</a></h5>
            
        </div>
        <div class="p-4" style="width: 60%;">
            <div class="responsive1 pl-sm- 0 pl-md-5">
                <div class="gallery ">

                    <img src="/static/images/anna1-min.jpg" alt="Cinque Terre" width="600" height="400"
                        style=" background-color: black;transform: scaleX(-1);">


                </div>
            </div>
        </div>

    </div>
    
    <div data-aos="zoom-in" class="d-flex flex-row bd-highlight mb-3" id="vyone">

        <div class="p-2 my-auto mr-4" style="width:40%; color: white;">
            <h1 class="text-start"> Yvonne John Massai</h1>
            <p>
                She is an alumnus of the University of Dar Es Salaam where she received LL. B honors degree and holds a
                Postgraduate Diploma in law from the LawSchool of Tanzania.She specializesin general practice of the law
                with a concentration inCivil Law, Criminal Law,InsuranceLaw, and Family Law. She brings to the team not
                only litigation skills but also negotiation and arbitration skills which she has acquired over a
                time.She is an advocate of the High Court of Tanzania. She is a member of a number of professional
                bodies, including the Tanganyika Law Society and East African Law Society.


            </p>
            <h5>Tel: +255 628 910 569|+255 652 666 888</h5>
            
              <h5>Email:  <a href="mailto:yvonnemassai@qcc.co.tz">yvonnemassai@qcc.co.tz </a></h5>
            
        </div>
        <div class="p-4" style="width: 60%;">
            <div class="responsive1 pl-sm- 0 pl-md-5">
                <div class="gallery ">

                    <img src="/static/images/vyone-min.JPG" alt="Cinque Terre" width="600" height="400"
                        style=" background-color: black;">


                </div>
            </div>
        </div>

    </div>

    <div data-aos="zoom-in" class="row mb-4 mt-2 mx-auto h-100 " id="john">
        <div class="col-4 my-auto">
            <h1 class="text-start"> Johnlars Fredric Mdassa</h1>
            <p>
                He is a Legal Officer with LL. Bdegreeand currently pursuing a postgraduate diploma at the Law School of
                Tanzania.He has specialized in Corporate Laws, Labour Laws, Wealth Management, Investment Laws and
                International Human Rights Law. He is acknowledged for his works in these fields.


            </p>
            <h5>Tel: +255 688 896 046|+255 713 091 130</h5>
            
              <h5> Email: <a href="mailto:johnlarsfredric@qcc.co.tz ">johnlarsfredric@qcc.co.tz </a></h5>
            
        </div>
        <div class="col-8">
            <div class="responsive1 pl-sm- 0 pl-md-5">
                <div class="gallery">

                    <img src="/static/images/ivn1.jpg" alt="Cinque Terre" width="300px" height="400">

                    
                </div>
            </div>
        </div>
    </div>


</div>
{%endblock%}